[core]
	excludesFile = ~/.gitignore
	editor = vim
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[push]
	default = simple
  autoSetupRemote = true
  followTags = true
[pull]
	rebase = true
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  st = status
  co = checkout
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[url "https://github"]
	insteadOf = git://github
[url "https://"]
	insteadOf = git://

[includeIf "gitdir:~/projects/poenneby/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/projects/xt/"]
    path = .gitconfig-work

